@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section contenheader {
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">bảng thống kê</a>
    </li>
}

<h2>Admin Dashboard</h2>
 